.err-message {
	display: flex;
	align-items: center;
	margin: 0 0 0 10px;
	
	height: 0px;
	opacity: 0;
	transition: 0.2s linear;
	&.active-err{
		height: 35px;
		opacity: 100;
		transition: 0.2s linear;
	}
	&__icon {
		fill: red;
		width: 30px;
		height: 30px;
		margin: 0 10px 0 0; 
	}
	&__message {
		font-size: 18px;
		font-weight: 600;
	}
}