$g-opacity_white: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.35) 100%);

$g-main-blue: linear-gradient(180deg, rgba(2,211,249,1) 0%, rgba(2,161,249,1) 100%);
$g-disabled-blue: linear-gradient(0deg, rgba(120,207,255,1) 0%, rgba(120,234,255,1) 100%);

$g-main-red: linear-gradient(180deg, rgba(255,144,106,1) 0%, rgba(255,78,78,1) 100%);
$g-disabled-red: linear-gradient(184deg, rgba(255,175,148,1) 0%, rgba(255,120,120,1) 100%);

$g-tab: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 100%);

$c-simple: #e6e6e6;
$c-hover-simple: #efefef;
$c-dis-simple: #7e7e7e;

$c-button-gray: #e2e2e2;
$c-blue: #35a9de;
$c-blue-focus: #80c7e7;
$c-dis: #252525;
$c-focus: #818181;

$t-button: 0.7s ease;
$t-button-fast: 0.1s ease;

$f-default: 20px;
$f-click: 18px;

// ------ common styles for button ------

%default-elements{
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius: 10px;
}

%button{
	position: relative;
	padding: 10px 20px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	
	font-size: $f-default;
	font-weight: 700;

	transition: $t-button;

	&::after, &.click::after{
		@extend %default-elements;
	}
}

%main-button{

	@extend %button;

	&:disabled, &:hover:disabled{
		transition: $t-button;
		font-size: $f-click;
	}

	&:hover:disabled::after{
		background: none;
		font-size: $f-click;
	}

	&:focus::after{
		background: $g-opacity_white;
	}

	&:hover{
		transition: $t-button;
	}

	&::after{
		margin: -4px;
		transition: $t-button;
	}

	&:hover::after{
		margin: -9px;
		transition: $t-button;
		border: rgba(255,255,255,0.5) solid 8px;
	}

	&::before{
		@extend %default-elements;

		margin: 6px;
		transition: $t-button;
	}

	&.click{
		font-size: $f-click;
	}

	&.click::after{
		margin: 6px;
		border: none;
		transition: $t-button-fast;
	}
}

%regular-button{

	@extend %button;

	&:disabled, &:hover:disabled{
		font-size: $f-click;
		transition: $t-button-fast;
	}

	&:hover:disabled::after{
		font-size: $f-click;
		border: $c-blue solid 3px;
	}

	&:focus{
		transition: none;
	}

	&:hover{
		transition: $t-button;
	}

	&::after{
		transition: $t-button;
	}

	&:hover::after{
		margin: 0px;
		transition: $t-button;
	}

	&.click{
		font-size: $f-click;
	}

	&.click::after {
		margin: 10px;
		opacity: 0;

		
		transition: $t-button-fast;
	}
}

.button-wait img{
	width: 45px;
	height: 45px;
}

// ------ button styles used ------

.main-blue{
	@extend %main-button;
	background: $g-main-blue;
	color: white;
	
	&:disabled, &:hover:disabled{
		background: $g-disabled-blue;
	}

	&:hover::after{
		background: $g-opacity_white;
	}

	&::before{
		background: $g-opacity_white;
	}

	&.click{
		background: $g-main-blue;
	}

	&.click::after{
		background: $g-opacity_white;
	}
}

.main-red{
	@extend %main-button;
	background: $g-main-red;
	color: white;

	&:disabled, &:hover:disabled{
		background: $g-disabled-red;
	}

	&:hover::after{
		background: $g-opacity_white;
	}

	&::before{
		background: $g-opacity_white;
	}

	&.click{
		background: $g-main-red;
	}

	&.click::after{
		background: $g-opacity_white;
	}
}

.regular{
	@extend %regular-button;
	color: $c-blue;
	background:white;
	
	&:disabled, &:hover:disabled{
		background: $c-gray;
		color: #252525;
	}

	&:hover:disabled::after{
		margin: -3px;
	}

	&::after{
		border: $c-blue solid 3px;
		margin: -10px;
	}

	&:hover::after{
		border: $c-blue solid 3px;
	}

	&.click::after {
		border: $c-blue solid 3px;
	}
}

.regular-op{
	@extend %regular-button;
	color: $c-blue;
	background:none;
	
	&:disabled, &:hover:disabled{
		color: $c-dis;
	}

	&:hover:disabled::after{
		margin: -3px;
	}

	&::after{
		border: $c-blue solid 3px;
		margin: -10px;
	}

	&:hover::after{
		border: $c-blue solid 3px;
	}

	&.click::after {
		border: $c-blue solid 3px;
	}
}

.regular-op-bd{
	@extend %regular-button;
	color: $c-blue;
	background:none;
	
	&:disabled, &:hover:disabled{
		color: $c-dis;
	}

	&:hover:disabled::after{
		border: $c-dis solid 3px;
	}

	&:disabled::after{
		border: $c-dis solid 3px;
	}

	&::after{
		border: $c-blue solid 3px;
	}
	
	&:focus:after{
		border: $c-blue-focus solid 3px;
	}

	&:hover::after{
		border: $c-blue solid 3px;
		// transition: none;
	}

	&.click::after {
	}
}

.regular-bd{
	@extend .regular-op-bd;
	background:white;
}

.simple{
	@extend %main-button;
	color: $c-dis;
	background: $c-simple;

	&:disabled, &:hover:disabled{
		color: $c-dis-simple;
		background: $c-simple;
	}

	&:focus::after{
		background: $g-opacity_white;
	}

	&:hover{
		background: $c-hover-simple;
	}

	&:hover::after{
		background: $g-opacity_white;
	}
	
	&.click::after{
		background: $g-opacity_white;
	}
}

.tab{
	@extend %main-button;
	color: $c-blue;
	font-weight: 500;
	background: $g-tab;
	border-radius: 10px 10px 0 0;
	padding: 0 10px;

	&:disabled, &:hover:disabled{
		color: $c-dis-simple;
		font-size: $f-default;
	}

	&.click{
		font-size: $f-default;
	}

	&:focus::after{
		background: none;
	}

	// &:hover::after{
	// 	margin: -10px;
	// 	transition: $t-button;
	// 	border: rgba(255,255,255,0.5) solid 8px;
	// }
}