$g-in-block-shadow: linear-gradient(0deg, rgb(236, 236, 236) 0%, rgba(0, 0, 0, 0) 100%);

$c-gray-header: #f7f7f7;

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: $c-gray-header;
	height: 70px;
	padding: 0 20px;
	&__city{}

	&__logo {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);

		font-weight: 700;
		font-size: 22px;
	}

	&__buttons{
		background: $g-in-block-shadow;
		border-radius: 10px;
	}
	&__buttons button{
		&:first-child{
			margin: 0 10px 0 0;
			width: 200px;
		}
		width: 100px;
	}
}
