@import "./imports";

input {
	outline: none;
}

html {
	font-family: "Source Sans Pro", sans-serif;
}

.App {
	width: 500px;
	// background: black;
}

.form-btn{
	display: block;
	margin: 10px auto;
	width: 20%;
	height: 50px;
}
